body{
  background: #696969;
  display: flex;
  justify-content: center;
}

.homePage{
  background-color:#191970;
  margin-top: 35vh;
  width: 70vh;
  height: 40vh;
}

.homeName{
  font-size: 30px ;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  display: flex;
  justify-content: center;
  padding-top: 5vh;
}

.homeInput{
  display: flex;
  justify-content: center;
}

.homeButton{
  display: flex;
  justify-content: center;
}

button{
  color: #ffffff;
  font-size: 25px;
  background-color: #1E90FF;
  width: 9vh;
  height: 5vh;
  border: none;
  border-radius: 6px 17px;
  cursor: pointer;
}

.homeResult{
  text-align: center;
  color: #ffffff;
  font-size: 50px;
  margin-top: 2vh;
  background: none;
}

